# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
dist/
.angular/
*.log

# Java
target/
*.class
*.jar
*.war

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env.local
